*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;

}
.header1{
  display: block;
  text-align: center;
  height: 100%;
 font-style: normal;
 font: 42px 'montserrat';
 padding: 5px 0px 10px 0px;
 background-color:white;
}

.firsttext{
  text-align: center;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-style: inherit;
  color: rgb(7,218,192);
  padding: 20px 10px 10px 10px;
  margin: 0 12% 2% 12%;
}

.firsttext1,.underlinepurplecoltext{
text-decoration: underline;
} 

.firsttext2{
  text-decoration: underline;
  color: rgb(255,255,255) ;
  background-color: rgb(206,35,128);
  }

  .submain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 15% 2% 18%;
  }
  .submain1{
margin-right: 4%;
  }
  .submain2{
margin-left: 4%;
  }
  .btn{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 3%;

  }
  .firstbutton{
    display: block;
   text-align: center;
 width: 370px;
 height: 83px;
   border-style:none;
   outline: none;
   border-radius: 5px;
   background-color: rgb(202, 33, 126);
   color: rgb(255,255,255);
   font-size:28px;
   font-weight: 400;
font-style: normal;
text-align: center;
font-family: 'Montserrat';
  }

  .parallax{
    background-image: url('./Images/backimage1.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 z-index: -1;
 position: relative;

}

.parallax:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.7); 
  z-index: -5;
}

.parallax-content {
  position: relative;
  z-index: 1;
}

  .image2{
    text-align: center;

  }
  .image2text{
    font-style: inherit;
    color: rgb(23,24,16);
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bolder;
  }
  .image2img{
   width: 65%;
  }

  .secondsec{
    background-color:rgba(186, 192, 198, 0.742);
   
  }
  .secondsectext{
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-style: inherit;
    padding: 20px 10px 2% 10px;
    margin: 0 12% 0 12%;
    color: #252525;
  }
  .underlinepurplecoltext{
   text-decoration: underline;
   color: rgb(206,35,128);
  }
  .image-contain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    margin-left: 28%;
    margin-right: 26%;
    top: -1rem;
  }
  .imagegraph{
position: absolute;
top: 16%;
left: 12%;
width: 75%;
height: auto;

  }
.imagedisplay{
  width: 100%;
  max-width: 100%;
  height:auto;
}
.secondlasttext{
  display: inline-block;
  text-align: center;
  font-family:Arial, sans-serif;
  font-size: 18px;
  color: #252525;
font-weight: 500;
line-height: 29px;
margin: 0% 30% 0% 30% ;
}
.thirdsechead,.comments{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}
.thirdsechead{
  background-color: #252525;
  padding-top:8% ;
  align-items: center;
}
.thirdsectxt{
  color: rgb(255,255,255);
  text-align: center;
  margin-left: 10%;
  margin-right: 6%;
  margin-bottom: 15%;
  display: inline-block;
  width: 80%;
  font-family:'Lato';
  font-size: 18px;
}

.queshandimage{
  float: left;
  margin-right:15%;
}
.thirdsecbody{
  background-color:rgba(114,129,150,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 5%;
}
.thirdsecbody1{
  font-size: 36px;
  font-family: 'Montserrat';
  color:#ffffff;
 width: 80%;
 margin-left: 20%;
 margin-right: 10%;
  text-align: center;
  text-align: left;
margin-bottom: 3%;
}
.thirdsecbody2,.thirdsecbody3,.thirdsecbody4{
  font: 18px 'Lato';
  color:#ffffff;
  margin-left:25%;
  margin-right:25%;
  text-align: left;
margin-bottom: 3%;
word-spacing: 1px;

}
.thirdsecbody5{
  font: 18px;
  font-family:'Montserrat';
  color:#ffffff;
  margin-left:25%;
  margin-right:25%;
  text-align: left;
word-spacing: 1px;
font-weight: 700;
}

.parallax1{
  background-image: url('./Images/backimage2.jpeg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 z-index: -1;
 position: relative;
}

.parallax1:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.5); 
  z-index: -5;
}
.FothSechead{
  font-size: 36px;
   font-family: 'Montserrat';
  margin-bottom: 4%;
  color: #252525;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}

.fouthimage5{
width: 500px;

}

.FothSec,.sorrynextsec,.aftersry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:4% ;
}

.Forthsecimgtext,.courseday,.faqflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.Forthsectext{
  font: 18px lato;
  font-style: normal;
  text-align: left;
  color: #252525;
  font-weight:300;
 
}
.Forthsectext1{
  margin-bottom: 10% !important;

}
.Forthsectext2{
  margin-bottom: 10% !important;
}
.sorrynextsec,.reviews{
  background-color: #252525;
}
.sorrysectex{
font-size: 36px;
font-family:'Montserrat';
color: rgb(255,255,255);
text-align: left;
width: 80%;
padding-bottom: 4%;
}
.sorrydisplimage{
  position: relative;
 width:100%;
 top: 1.1rem;
}
.sorrydisplimagesize{
max-width:850px;
width: 100%;
}
.sorrydisplimagetxt{
  position: absolute;
  top: 25%;
  left: 30%;
  right:30%;
}
.aftersry{
  padding-top: 2%;
}
.aftersorry1,.conclu1,.reviewstexthead,.faqhead{
  font-size: 36px;
  font-family:'Montserrat';
  width:700px;
  color: #373636;
padding-bottom: 2%;
}

.aftersorry1,.faqhead,.reviewstexthead,.conclu1{
  width:80%;
}
.aftersorry2{
  font-size: 20px ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bolder;
padding-bottom: 2%;
}

.courseday{
  padding-bottom: 1% !important;
  margin-left: -15%;
}
.progressbarimg{
  width: 150%;
  height: 300px;


}
.coursedaytext{
  text-align: left;
 
}
h3{
  opacity: 0.4;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
}
.csdaytextp,.conclu2{
  padding-bottom: 3%;
  font-size:20px;
  font-family: 'Montserrat';
  
}
.csdaytextpl{
  font:20px 'Montserrat';
  
}

.footer,.conclu,.reviews,.faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.parallax2{
  background-image: url('./Images/backimage3.jpeg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
z-index: -1;
position: relative;
}

.parallax2:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.9); 
  z-index: -5;
}


.conclu{
  background-color:rgb(209, 222, 220);
}
.conclu2{
  padding-bottom: 8%;
}
.conclu3{
  font-size:28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #171810;
}
.conclu4{
  font-size: 28px;
  font-family:'Montserrat';

}
.conclu{
  padding-bottom: 5%;
}
.reviewstexthead{
color: rgb(209, 222, 220);
padding-top:5% ;
}

.faq{
  background-color:rgb(231, 233, 233) ;
}
.faqflex{
padding-left: 5%;
padding-right: 5%;
  text-align: center;
  background-image: url('./Images/Endques.png');
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 120px;

}
.faqfirst{
  padding-top: 10%;
  margin-right: 10%;
}
.faqthird{
  padding-top: 10%;
  margin-left: 10%;
}


.faqfirstQandA{
  display: flex;
  flex-direction: row;
 padding-bottom: 8%;
}

.Q{
  font-weight: 900;
  font-size: 29px;
  opacity: 0.6;
  font-family: 'Montserrat';
  margin-right: 5%;

}
.question{
  font-size: 18px;
  font-family: 'Montserrat';
  color: #252525;
  text-align: left;
 width: 250px;
}
.Answer{
  text-align: left;
  font-size: 14px;
  font-family:'Montserrat';
  color:#808080;
  display: inline-block;
  padding-bottom: 15%;
  width: 250px;
}
.Quesmark{
  width:10rem;
}
.comment11{
  width: 40%;
  background-color: rgb(255,255,255);
  position: relative;
  border-radius: 5px;
  padding:3% 5% 2% 5%;
}
.comments{
  margin-left: 20%;
  margin-right: 20%;
}
.faceimg{
  position: absolute;
  top: -12%;
  left:39%;
  
}          
    
.faceimage1{
  border-radius: 50%;
  width: 4rem;
}


@media (max-width:659px) {
  .firsttext{
    font-size: 42px;
  }
  .thirdsechead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .queshandimage{
   margin-left: 20%; 
  }
  .queshandimagesize{
    width: 80%;
  }
  .thirdsectxt{
    width: 80%;
  }
 
  .thirdsecbody2,.thirdsecbody3,.thirdsecbody4{
    margin-left:15%;
    margin-right:15%;
    padding-bottom: 5%;
  }
  .thirdsecbody5{
    margin-left:20%;
    margin-right:20%;
    padding-bottom: 3%;
  }
  .progressbarimg{
    width: 150%;
    padding-right: 4%;
    height: 400px;
  
  }
 
  .comment11{
    width: 90% !important;
    margin-right: 5%;
    margin-left: 5%;
  }
  .comments{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .faqflex{
    margin-left: 8% !important;
    }
    .secondlasttext{
      margin-left: 20%;
      margin-right: 20%;
    }
    .faceimg{
      top: -11%;
      left:34%;
    }
}

@media (max-width:478px) {
  .firsttext{
    font-size: 38px;
  }
  .submain{
    display: flex;
    flex-direction: column;

  }
  .submain1{
    margin-bottom: 10%;
    display: inline-block;
  }
  .Forthsecimgtext{
    padding-left: 3%;
  }
  .fouthimage5{
    width:100% !important;
    
    }
    .progressbarimg{
      width: 150%;
      padding-right: 4%;
      height: 700px;
    
    }
    .comment11{
      margin-top: 4%;
    margin-bottom: 20% !important;
    }
    .comments{
      margin-left: 5% !important;
      margin-right: 5% !important;
    }
    .firstbutton{
    width: 85%;
    }
    .faqhead{
      font-size: 32px;
    }
    .conclu1{
      font-size: 30px;
    }
    .conclu3,.conclu4{
      font-size: 24px;
    }
    .conclu2{
      font-size: 18px;
    }
    .courseday{
      margin-left: -30%;
    }
    .secondlasttext{
      font-size: 16px;
  
    }
    .submain2{
      margin-left: 0% !important;
    }
    .submain{
      margin-left: 20% !important;
    }
    .faceimg{
      top: -12% !important;
      left:33% !important;
    }
}


@media (max-width:757px){
  .Forthsecimgtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }
.faqflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faqfirst{
  padding-top: 5%;
}
.faqthird{
  padding-top: 5%;
    margin-right: 26%;
 
}
.comment11{
  width: 65% !important;
  margin-right: 5%;
  margin-left: 5%;
}
.comments{
  margin-left: 5% !important;
  margin-right: 5% !important;
}

}


@media (max-width:890px){
  .fouthimage5{
    width: 450px;
    
    }
    .progressbarimg{
      width: 150%;
      padding-right: 4%;
      height: 320px;
    
    }
    .comments{
      margin-left: 15%;
      margin-right: 15%;
    }
    .comment11{
      width: 50%;
      margin-right: 5%;
      margin-left: 5%;
    }
    .conclu3{
padding-bottom: 4%;
    }
    .courseday{
      margin-left: -25%;
    }
}

@media (max-width:511px){
  .sorrydisplimagetxt{
    position: absolute;
    top: 20%;
    left: 30%;
    right:30%;
  }
  .sorrythis1{
    font-size: 30px !important;
  }
  .sorrythis2{
    font-size: 18px !important;
  }
  .aftersorry1{
    width:100%;
    padding-top: 3%;
  }
  .progressbarimg{
    width: 150%;
    padding-right: 4%;
    height: 500px;
  
  }
    .comments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
  .comment11{
    margin-bottom: 10%;

  }

.firsttext{
margin: 1% 5% 5% 4%;
  font-size: 25px;

}
.secondsectext{
  font-size: 30px;
}
.secondlasttext{
  font-size: 12px;
  
}
.submain1{
  font-size: 22px !important;
}
.submain2{
  font-size: 20px !important;
}

.aftersorry1{
  font-size: 30px;
}
.aftersorry2{
  font-size: 18px;
}
.submain{
  margin-left: 10%;
margin-right: 10%;
}
.faceimg{
  top: -13%;
  left:37%;
}
}

@media (max-width:327px){

  .sorrythis1{
    font-size: 26px !important;
  }
  .sorrythis2{
    font-size: 12px !important;
  }
  .progressbarimg{
    width: 150%;
    padding-right: 4%;
    height: 600px;
  
  }
  .comment11{
    margin-top: 10%;
  margin-bottom: 25% !important;
  }
   
  .faceimg{
    top: -12%;
    left:30%;
    
  }  
  .conclu1{
    font-size: 32px;
  }  
  .secondsectext{
    padding-bottom: 10%;
  }   
  .firsttext{
    font-size: 38px;
  } 
  .FothSechead{
    font-size: 29px;
  }  
  .aftersorry1{
    font-size: 32px;
    padding-bottom: 5% ;
  }
  .reviewstexthead{
    font-size:32px;
  }
  .firsttext{
    font-size: 20px;
  }
  .secondsectext{
    font-size: 20px;
  }
  .secondlasttext{
    font-size: 10px;
  }
  .submain1{
    font-size: 20px !important;
  }
  .submain2{
    font-size: 18px !important;
  }
  .faqflex{
  margin-left: 3%;
  margin-right: 3%;
  }

  .question{
    font-size: 16px;
   width: 150px;
  }
  .Answer{
    font-size: 12px;
    width: 150px;
  }
  .conclu1{
    font-size: 30px;
  }
  .conclu3,.conclu4{
    font-size: 24px;
  }
  .conclu2{
    font-size: 18px;
  }
  .courseday{
    margin-left: -50%;
  }
  .aftersorry1{
    font-size: 28px;
  }
  .aftersorry2{
    font-size: 16px;
  }
  .faceimg{
    top: -12%;
    left:32%;
  }
}

@media (max-width:280px) {
  .faceimg{
    top: -11% !important;
    left:27% !important;
  
  }
  .faceimage1{
padding-bottom: 3%;
  }
}
